* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

header, main {
    background-color: #1F2937;
}

main {
    display: flex;
    padding: 90px;
}

h1, button {
    font-weight: 900;
}

h1, p, button {
    margin: 10px;
    color: #F9FAF8;
}

p, a {
    font-size: 24px;
}

.logo {
    font-size: 35px;
}

.main-text {
    font-size: 54px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

li {
    list-style: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero-text {
    text-align: left;
    margin: 50px;
}

.hero-image {
    width: 70%;
}

img {
    border-radius: 5%;
    height: auto;
    width: 70%;
}

button {
    border-radius: 8px;
    border-style: none;
    font-size: 20px;
    background-color: #3882F6;
    padding: 10px 30px;
}